@charset "UTF-8";
/*Reset*/
*, *::after, *::before {
  box-sizing: border-box;
}

body, h1, h2, h3, h4, h5, h6, p, ul, li, header, footer, div {
  margin: 0;
  padding: 0;
}

ul, li {
  list-style: none;
}

a {
  text-decoration: none;
}

body {
  font-family: 'Roboto', sans-serif;
  position: relative;
}

@keyframes ripple {
  from {
    transform: translate(-50%, 50%);
  }
  to {
    transform: translate(-50%, 15%);
  }
}

@keyframes fade_left {
  from {
    transform: translateX(-400px);
    opacity: 0.2;
  }
  to {
    transform: translateX(0px);
    opacity: 1;
  }
}

@keyframes header-show {
  from {
    top: -70px;
  }
  to {
    top: 20px;
  }
}

@font-face {
  font-family: 'Roboto';
  src: url("../font/Roboto-Regular.eot");
  src: url("../font/Roboto-Regular.eot?#iefix") format("embedded-opentype"), url("../font/Roboto-Regular.woff2") format("woff2"), url("../font/Roboto-Regular.woff") format("woff"), url("../font/Roboto-Regular.ttf") format("truetype"), url("../font/Roboto-Regular.svg#Roboto-Regular") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: url("../font/Roboto-Medium.eot");
  src: url("../font/Roboto-Medium.eot?#iefix") format("embedded-opentype"), url("../font/Roboto-Medium.woff2") format("woff2"), url("../font/Roboto-Medium.woff") format("woff"), url("../font/Roboto-Medium.ttf") format("truetype"), url("../font/Roboto-Medium.svg#Roboto-Medium") format("svg");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: url("../font/Roboto-Black.eot");
  src: url("../font/Roboto-Black.eot?#iefix") format("embedded-opentype"), url("../font/Roboto-Black.woff2") format("woff2"), url("../font/Roboto-Black.woff") format("woff"), url("../font/Roboto-Black.ttf") format("truetype"), url("../font/Roboto-Black.svg#Roboto-Black") format("svg");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'icomoon';
  src: url("../font/icomoon.eot?k1kyod");
  src: url("../font/icomoon.eot?k1kyod#iefix") format("embedded-opentype"), url("../font/icomoon.ttf?k1kyod") format("truetype"), url("../font/icomoon.woff?k1kyod") format("woff"), url("../font/icomoon.svg?k1kyod#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-mail:before {
  content: "\e901";
  color: #fff;
  font-size: 45px;
}

.icon-facebook:before {
  content: "\e904";
  font-size: 22px;
  color: #fff;
}

.icon-instagram:before {
  content: "\e908";
  font-size: 22px;
  margin: 0 25px;
  color: #fff;
}

.icon-location:before {
  content: "\e909";
  color: #fff;
  font-size: 45px;
}

.icon-number:before {
  content: "\e90b";
  color: #fff;
  font-size: 45px;
}

.icon-telegram:before {
  content: "\e90c";
  font-size: 22px;
  color: #fff;
}

.icon-home-outline:before {
  content: "\e900";
  font-size: 45px;
}

.appeal-wrap {
  padding: 5px 10px;
  background: #fff;
  border-radius: 20px;
  margin-bottom: 30px;
  width: max-content;
  position: relative;
  margin-left: 16px;
  opacity: 0;
  animation: fade_left 2s 1s forwards;
}

.appeal-wrap:after {
  content: "";
  display: block;
  position: absolute;
  border: 16px solid transparent;
  border-bottom-color: #fff;
  font-size: 0;
  bottom: 0;
  left: -13px;
}

.appeal-content {
  font-size: 35px;
  font-weight: bold;
}

.swipe {
  position: absolute;
  bottom: 10%;
  left: 50%;
  transform: translate(-50%, 50%);
  animation: ripple 2s infinite alternate;
}

.title-wrap {
  background: #fff;
  padding: 0 12px;
  box-shadow: 0px 4px 15px 3px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  width: max-content;
  margin: 0 auto;
  margin-bottom: 40px;
  margin-top: 15px;
}

.title {
  font-size: 35px;
  font-weight: bold;
  text-transform: uppercase;
}

.messages {
  margin-top: 135px;
}

.header {
  height: 60px;
  padding: 11px 20px;
  background: #fff;
  border-radius: 20px;
  position: absolute;
  left: 10px;
  right: 10px;
  z-index: 1;
  box-shadow: 0px 4px 15px 3px rgba(0, 0, 0, 0.25);
}

/*Бургер для мобильного*/
.burger {
  display: block;
  position: absolute;
  top: 45%;
  left: 90%;
  transform: translate(-50%, -50%);
  width: 40px;
  height: 32px;
  cursor: pointer;
  z-index: 1;
}

.stick, .stick:before, .stick:after {
  width: 35px;
  height: 5px;
  background: #000;
  top: 50%;
  position: absolute;
  transition: all 0.6s;
  border-radius: 5px;
}

.stick:before {
  content: "";
  top: -10px;
  left: 0px;
}

.stick:after {
  content: "";
  top: 10px;
  left: 0px;
}

.stick.open {
  transform: translateX(-50px);
  background: transparent;
}

.stick.open:after {
  transform: rotate(-45deg) translate(50px, 36px);
}

.stick.open:before {
  transform: rotate(45deg) translate(50px, -36px);
}

.drop::-webkit-details-marker {
  display: none;
}

.drop-content {
  background: #fff;
  padding: 30px 0px 130px;
  width: 111%;
  transform: translate(-5%, -10px);
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  overflow: hidden;
  transition: 5s;
  box-shadow: 0px 20px 15px 3px rgba(0, 0, 0, 0.25);
  z-index: -1;
}

.drop-link {
  font-size: 40px;
  font-weight: bold;
  display: block;
  text-align: center;
  color: #000;
  margin-bottom: 20px;
}

.icon-home-outline {
  font-size: 0;
}

.drop-wrap > .drop-content {
  max-height: 0px;
}

.drop-wrap[open] > .drop-content {
  max-height: 500px;
}

.header_fixed {
  position: fixed;
  top: 20px;
  left: 10px;
  right: 10px;
  animation: header-show 1.5s;
}

.about-container {
  background: #000;
  border-radius: 20px;
  margin-bottom: 50px;
  padding: 26px;
}

.about-content {
  font-size: 18px;
  font-weight: 500;
  color: #fff;
}

.best {
  margin-bottom: 60px;
  overflow: hidden;
}

.best-container {
  background: #000;
  border-radius: 20px;
  padding: 26px;
  min-height: 400px;
  overflow: hidden;
  margin: 0 15px;
  outline: none;
}

.best-video {
  margin-bottom: 25px;
}

.best-title {
  font-size: 20px;
  font-weight: bold;
  color: #fff;
  margin-bottom: 15px;
}

.best-description {
  font-size: 16px;
  font-weight: bold;
  color: #fff;
}

.clients {
  text-align: center;
  margin-bottom: 120px;
}

.clients-container {
  background: #000;
  border-radius: 20px;
  padding: 20px 27px;
  margin-bottom: 25px;
  display: inline-block;
}

.clients-logo {
  width: 200px;
  height: 50px;
}

.footer {
  background: #000;
  border-radius: 20px;
  padding: 15px 0;
  text-align: center;
}

.footer-wrapper {
  max-width: 414px;
  margin: 0 4%;
  margin-bottom: 5px;
  position: absolute;
  bottom: 0px;
  left: 0;
  right: 0;
}

.footer-links {
  margin-bottom: 30px;
}

.footer-link {
  color: #fff;
  font-size: 0px;
}

.footer-copyright {
  font-size: 12px;
  color: #fff;
  display: block;
}

.contacts {
  height: 100vh;
}

.contacts-inner {
  max-width: 414px;
  margin: 0 4%;
  margin-top: 90px;
}

.contacts-container {
  background: #000;
  border-radius: 20px;
  padding: 15px 0 15px 25px;
  display: block;
  margin-bottom: 30px;
  position: relative;
}

.contacts-link {
  font-size: 25px;
  color: #fff;
  display: inline-block;
  position: absolute;
  top: 30%;
  left: 75px;
}

.portfolio-content {
  max-width: 414px;
  margin: 0 4%;
  margin-top: 90px;
  margin-bottom: 120px;
  overflow: hidden;
  display: inline-block;
}

.portfolio-container {
  background: #000;
  border-radius: 20px;
  padding: 26px;
  min-height: 400px;
  margin: 15px 0;
  display: inline-block;
}

.portfolio-title {
  font-size: 20px;
  font-weight: bold;
  color: #fff;
  margin-bottom: 15px;
}

.portfolio-description {
  font-size: 16px;
  font-weight: bold;
  color: #fff;
}

.container {
  background: url(../img/main-bg.jpg) no-repeat center/cover;
  height: 100vh;
  margin-bottom: 50px;
  position: relative;
}

.container-inner {
  max-width: 414px;
  margin: 0 4%;
  padding-top: 20px;
}

.site-content {
  max-width: 414px;
  margin: 0 4%;
  overflow: hidden;
}
