body {
  background: url(../img/bg.png);
}
.main {
  text-align: center;
  color: #0bbaf0;
  margin-top: 60px;
}
.main h1 {
  font-size: 36px;
  font-family: "Ubuntu";
  font-weight: 900;
  text-transform: uppercase;
  line-height: 1;
  z-index: 18;
}
.main h1 span {
  font-size: 24px;
  font-family: "Ubuntu";
  font-weight: 300;
  text-transform: uppercase;
  z-index: 2;
}
.main .line {
  display: inline-block;
  text-align: center;
  height: 2px;
  width: 125px;
  background: #c4c4c4;
  margin-top: 10px;
  margin-bottom: 30px;
}
.panel-default > .panel-heading {
  color: #fff;
  background-color: #0bbaf0;
  border: none;
  border-radius: 0px;
  position: relative;
  width: 740px;
  right: 10px;
}
.panel-title {
  font-size: 18px;
  font-weight: 300;
  font-family: "Ubuntu";
  line-height: 1.2;
  text-align: center;
}
.panel-default > .panel-heading + .panel-collapse > .panel-body {
  padding: 5px 25px;
  padding-bottom: 25px;
  border: 3px solid #c4c4c4;
  border-bottom-right-radius: 8px;
  border-bottom-left-radius: 8px;
  border-top: none;
  margin-bottom: -5px;
}
