@keyframes color-change {
	from{
		background: $grey-color-2;
	}
	to{
		background: $blue-color;
	}
}


@keyframes rotation {
    0% {
        transform:rotate(0deg);
    }
    100% {
        transform:rotate(360deg);
    }
}