@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?qw5j9o');
  src:  url('../fonts/icomoon.eot?qw5j9o#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?qw5j9o') format('truetype'),
    url('../fonts/icomoon.woff?qw5j9o') format('woff'),
    url('../fonts/icomoon.svg?qw5j9o#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-id-card:before {
  content: "\e906";
  color: $blue-color;
  font-size: 5rem;
}
.icon-phone:before {
  content: "\e90";
  color: $text-color;
  font-size: 5rem;
}
.icon-laptop:before {
  content: "\e907";
  color: $text-color;
  font-size: 5rem;
}
.icon-chat:before {
  content: "\e905";
  color: #4a4d4e;
  font-size: 5rem;

}
.icon-line-chart:before {
  content: "\e908";
  color: $text-color;
  font-size: 5rem;
}

.icon-facebook:before {
  content: "\e900";
  color: $white-color;
  font-size: 3rem;
}
.icon-instagram:before {
  content: "\e901";
  color: $white-color;
  font-size: 3rem;
}
.icon-twitter:before {
  content: "\e902";
  color: $white-color;
  font-size: 3rem;
}
.icon-you-tube:before {
  content: "\e903";
  color: $white-color;
  font-size: 3rem;
}
