.header{
	height: 60px;
	padding: 11px 20px;
	background: #fff;
	border-radius: 20px;
	position: absolute;
	left: 10px;
	right: 10px;
	z-index: 1;
	box-shadow: 0px 4px 15px 3px rgba(0, 0, 0, 0.25);
}

/*Бургер для мобильного*/
.burger{
	display: block;
	position: absolute;
	top: 45%;
	left: 90%;
	transform: translate(-50%, -50%);
	width: 40px;
	height: 32px;
	cursor: pointer;
	z-index: 1;
}
.stick, .stick:before, .stick:after{
	width: 35px;
	height: 5px;
	background: #000;
	top: 50%;
	position: absolute;
	transition: all 0.6s;
	border-radius: 5px;
}
.stick:before{
	content:"";
	top: -10px;
	left: 0px;
}
.stick:after{
	content:"";
	top: 10px;
	left: 0px;
}
.stick.open{
	transform: translateX(-50px);
	background: transparent;
}
.stick.open:after{
	transform: rotate(-45deg) translate(50px, 36px);
}
.stick.open:before{
	transform: rotate(45deg) translate(50px, -36px);
}

.drop{
	// &-wrap{
	// 	max-height:0px;
	// 	&[open]{
	// 		max-height: 500px;
	// 	}
	// }
	&::-webkit-details-marker{
		display: none;
	}
	&-content{
		background: #fff;
		padding: 30px 0px 130px;
		width: 111%;
		transform: translate(-5%, -10px);
		border-bottom-left-radius: 20px;
		border-bottom-right-radius: 20px;
		overflow: hidden;
		transition: 5s;
		box-shadow: 0px 20px 15px 3px rgba(0, 0, 0, 0.25);
		z-index: -1;

		// animation: down 2s;

	}
	&-link{
		font-size: 40px;
		font-weight: bold;
		display: block;
		text-align: center;
		color: #000;
		margin-bottom: 20px;
	}
}
.icon-home-outline{
	font-size: 0;
}

.drop-wrap > .drop-content{
	max-height:0px;
}
.drop-wrap[open] > .drop-content{
	max-height: 500px;
}
.header_fixed{
	position: fixed;
	top: 20px;
	left: 10px;
	right: 10px;
	animation: header-show 1.5s;
}