body {
	margin: 0;
	font-size: 14px;
	font-family: sans-serif;
}

h2 {
	font-weight: 100;
}

.container {
	max-width: 900px;
	margin: auto;
	padding: 15px;
}
.image {
	display: inline-block;
	vertical-align: top;
	width: 200px;
	height: 200px;
}
.image-one {
	background: url(../img/1.jpg) center no-repeat;
	background-size: cover;
	transition: all 0.2s;
	position: relative;
}
.image-one:after { 
	content: ''; 
position: absolute; 
top: 0; 
left: 0; 
right: 0; 
bottom: 0; 
background: rgba(0,0,0,.5);  
opacity: 0; 
}
.image-one:before { 
	content: ''; 
	position: absolute; 
	top: 0; 
	left: 0; 
	right: 0; 
	bottom: 0; 
	background: 
	url(icon-path); 
	opacity: 0; 
}
.image-one:hover:before,
.image-one:hover:after { 
	opacity: 1; 
}

.image-two {
	background: url(../img/2.jpg) center no-repeat;
	background-size: cover;
	transition: all 0.2s;
	position: relative;
}
.image-two:after { 
	content: ''; 
position: absolute; 
top: 0; 
left: 0; 
right: 0; 
bottom: 0; 
background: rgba(0,0,0,.5);  
opacity: 0; 
}
.image-two:before { 
	content: ''; 
	position: absolute; 
	top: 0; 
	left: 0; 
	right: 0; 
	bottom: 0; 
	background: 
	url(icon-path); 
	opacity: 0; 
}
.image-two:hover:before,
.image-two:hover:after { 
	opacity: 1; 
}

.image-three {
	background: url(../img/3.jpg) center no-repeat;
	background-size: cover;
	transition: all 0.2s;
	position: relative;
}
.image-three:after { 
	content: ''; 
position: absolute; 
top: 0; 
left: 0; 
right: 0; 
bottom: 0; 
background: rgba(0,0,0,.5);  
opacity: 0; 
}
.image-three:before { 
	content: ''; 
	position: absolute; 
	top: 0; 
	left: 0; 
	right: 0; 
	bottom: 0; 
	background: 
	url(icon-path); 
	opacity: 0; 
}
.image-three:hover:before,
.image-three:hover:after { 
	opacity: 1; 
}

.image-four {
	background: url(../img/4.jpg) center no-repeat;
	background-size: cover;
	transition: all 0.2s;
	position: relative;
}
.image-four:after { 
	content: ''; 
position: absolute; 
top: 0; 
left: 0; 
right: 0; 
bottom: 0; 
background: rgba(0,0,0,.5);  
opacity: 0; 
}
.image-four:before { 
	content: ''; 
	position: absolute; 
	top: 0; 
	left: 0; 
	right: 0; 
	bottom: 0; 
	background: 
	url(icon-path); 
	opacity: 0; 
}
.image-four:hover:before,
.image-four:hover:after { 
	opacity: 1; 
}


.button-one {
	border: none;
	font-weight: 700;
	font-size: 14px;
 color: white;
 padding: .8em 1em calc(.8em + 3px);
 border-radius: 3px;
 background: rgb(64,199,129);
 box-shadow: 0 -3px rgb(53,167,110) inset;
 transition: 0.1s;
}
.button-one:hover{
	background: green;
	box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.8);
}
.button-two {
	display: inline-block;
 color: white;
 padding: .5em 2em;
 border: none;
 border-width: 2px 0;
 border-style: solid none;
 border-color: #FDBE33 #000 #D77206;
 border-radius: 6px;
 background: linear-gradient(#F3AE0F, #E38916) #E38916;
 transition: 0.2s;
}
.button-two:hover{
	background: red;
	box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.8);
}
