$global-site-width: 1920px;

$hover-color: #0093E6;
$blue-color: #0093E6;
$white-color: #fff;
$grey-color: #F9F9F9;
$grey-color-1: #C4C4C4;
$grey-color-2: #E5E5E5;
$grey-color-3: #B4B4B4;
$text-color: #4A4D4E;
$text-color-1: rgba(74, 77, 78, 0.8);